$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
  width: 100%;
}

a {
  color: $link-color;
}

figure {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}
